
header{
margin-top: 20px;
height: 300px;
  text-align: center;
}

h4,h5{
  font-family: 'Nunito', sans-serif;
  line-height: 10px;
}
.open{
  margin-top: -60px;
  font-family: 'Berkshire Swash', cursive;
  font-size: 55px;
  color: #5e3219
}
h2{
    font-family: 'Berkshire Swash', cursive;
      color: #5e3219;
      font-size: 40px;
}
#frosted{
  opacity: 0.5;
}
#bigFish{
  height: 2 00px;
  width: 380px;
  float: left;
  clear: both;
}

dl{
font-family:'Josefin Sans', sans-serif;
font-size: 24px;
text-align: center;
}
.info{
  margin-top: 355px;
}

#family{
  float: left;
  height: 160px;
  width: 280px;
}
#shirt{
  clear: both;
  float: left;
  height: 160px;
  width: 160px;
}
#cutter{
  float: right;
  height: 160px;
  width: 140px;
}
body{
    background-color: #efb92f;
}
p{
font-family: 'Nunito', sans-serif;
margin-top: 35px;
}

i:hover{
  color: #5e3219;
}
ul{
  text-decoration: none;
}
footer{
  clear: both;
  margin-bottom: 10px;
  background-image: url("assets/fish.jpg");
  height: 180px;
  width: 100%;
}
