#fishy{
  opacity: 0.5;
  height: 120px;
  width: 300px;

}

*{
    text-align: center;
}
h4,h5{
  font-family: 'Nunito', sans-serif;
  line-height: 10px;
}
.open{
  margin-top: -60px;
  font-family: 'Berkshire Swash', cursive;
  font-size: 55px;
  color: #5e3219
}
h2{
    font-family: 'Berkshire Swash', cursive;
      color: #5e3219;

}


i:hover{
  color: #5e3219;
}

dl{
font-family:'Josefin Sans', sans-serif;
font-size: 24px;
text-align: center;
}

#cookies{
  margin-top: -30px;
  height: 320px;
  width: 450px;
}
p{
font-family: 'Nunito', sans-serif;
margin-top: -25px;
}
