header,body{
  background-color: #efb92f;
}
#salesForm{
    width: 80%;
}
button{
  height: 25px;
  width: 80px;
}
#salesForm, td {
  outline: 1px solid black;
  padding: 5px;
  border-style: black;

}

tr:hover{
  color: blue;
  background-color: white;
}
h1,h2{
  margin-left: 100px;
  font-family: 'Berkshire Swash', cursive;
  font-size: 55px;
  opacity: 1.0;
  color: #5e3219
}
table{
  margin-left: 100px;
}
